/websoket_server/nbproject/private/
/websoket_server/build/
/conexion_pg/nbproject/private/
/servicios_rest/nbproject/private/
/servicios_rest/build/
/IngebdRest/nbproject/private/
/IngebdRest/build/
/IngebdRest/dist/