/websoket_server/nbproject/private/
/websoket_server/build/
/conexion_pg/nbproject/private/
/servicios_rest/nbproject/private/
/servicios_rest/build/
/IngebdRest/nbproject/private/
/IngebdRest/build/
/IngebdRest/dist/
/agenda_bdRest/nbproject/private/
/agenda_bdRest/build/
/agenda_bdRest/dist/
/bd_service/nbproject/private/
/bd_service/build/
/bd_service/dist/
/Restful_service/nbproject/private/
/Restful_service/build/
/Restful_service/dist/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication1/dist/